<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>
<body>
    <header>
        <a href="/"><h1>Home</h1></a>
        <nav>
            <a href="/usuarios">Usuarios</a>
            <a href="/jogos">Jogos</a>
        </nav>
    </header>
    {{{body}}}
</body>
</html>